<phpunit bootstrap="./bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="kampaw-dic">
            <directory suffix="Test.php">./KampawTest</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./KampawTest/Dic/TestAsset</directory>
        </blacklist>
    </filter>
</phpunit>